.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;

    /* top: -10vh;
    left: -7vw; */

    top: -10vh;
    left: -3vw;

    color: inherit;
    /*background-color: rgba(255, 255, 255, 0.8);*/

    width: 30vw;

    list-style: none;
    font-size: 100%;

    z-index: 1000;
}

.navigation:first-child {
    padding-top: 10vh;
}

.navigation a:link, 
.navigation a:visited {
    display: block;

    color: #e5a952;
    text-decoration: none;

    -webkit-transition: background-color 0.5s ease,
                            color 0.5s ease;
    -moz-transition: background-color 0.5s ease,
                            color 0.5s ease;
    transition: background-color 0.5s ease,
                            color 0.5s ease;
}

.navigation a:hover,
.navigation a.active {
    text-decoration: none;
    color: #fff;
    background-color: #e5a952;
}

.navigation-container {
    text-align: center;

    color: #333;
    background-color: #fff;
    font-size: inherit;
}

.top-left {
    right: -3vw;
    left: initial;
}

.tilt {
    transform-origin: 0% 0%;
    /* transform: rotateZ(-45deg)  translate(-29.4vw, -55vh); */
    transform: rotateZ(-45deg) translate(-51vw, 10.705vh); 
    /* transform: translate(-40.4vw, 9.956vh) rotateZ(-45deg);  */
    /*I used trig to get the translation values, mathematically, ideal values would be approx (-42.4vw, 2.65vw)
    after using trig to calculate the distance to top corner is 15(root 2)*/
    width: 100%; 
}

.top-left.tilt {
    transform-origin: 100% 0%;
    /* transform: rotateZ(45deg)  translate(26.5vw, -55vh); */
    transform: rotateZ(45deg) translate(51.5vw, 10.705vh);
}